<head>
  <style>
  table, th, td {
    border: 1px solid black;
  }
  table.center {
  margin-left: auto; 
  margin-right: auto;
  }
  th, td {
    padding: 10px;
  }
  </style>
  </head>

<h1 style="text-align:center">Welcome to {{ title }}!</h1>

<table class="center">
  <tr>
    <th>Item</th>
    <th>Category</th>
    <th>Price</th>
  </tr>
    <tr *ngFor="let i of items">
        <td>{{ i.Item }}</td>
        <td>{{ i.Category }}</td>
        <td>{{ i.Price }}</td>
      </tr>
     
</table>


